<h1>Doughnuts</h1>

<ul>
  <% @doughnuts.each do |doughnut| %>
      <p>Name: <%= doughnut.name %></p>
      <p>Price: <%= doughnut.price %></p>
      <p>Description: <%= doughnut.description %></p>
  <% end %>
</ul>