<h1><%= @doughnut.name %></h1>
<p><%= @doughnut.price %></p>
<p><%= @doughnut.description %></p>

<p><%= link_to "Delete Doughnut", doughnut_path(@doughnut),
                method: :delete,
                data: { confirm: "Are you sure?" } %></p>
